{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static master.css %}">
    <link rel="stylesheet" href="{% static sidenav.css %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="grid">
        <div class="sidenav">
            <a href="" class="{% block home_status}{% endblock %}">Home</a>
            <a href="" class="{% block products_status}{% endblock %}">Products</a>
            <a href="" class="{% block shops_status}{% endblock %}">Shops</a>
            <a href="" class="{% block graphs_status}{% endblock %}">Graphs</a>
        </div>
        <!-- Add Content Here -->
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>